body{
    background: lightgray;
}

.text{
    color: white;
    border: 5px solid white;
    padding: 15px;
    width: 200px;
    font-weight: bold;
    text-align: center;
}

.admin{
    background: green;
}

.user{
    background: blue;
}

.unknown{
    background: red;
}